<div class="row">
  <div class="col-md-12">
    <div class="card card-info">
      <div class="card-header">
        <h3>{{vm.sentiment._id ? 'Edit Sentiment' : 'Sentiment'}}</h3>
      </div>
      <div class="card-body">
        <section>
          <div class="col-md-12">
            <form name="vm.form.sentimentForm" class="form-horizontal" ng-submit="vm.save(vm.form.sentimentForm.$valid)"
              novalidate>
              <fieldset>
                <div class="form-group" show-errors>
                  <label class="control-label" for="sentiment_name">Sentiment Name</label>
                  <input name="sentiment_name" type="text" ng-model="vm.sentiment.name" id="sentiment_name"
                    class="form-control" placeholder="Name" required>
                  <div ng-messages="vm.form.sentimentForm.sentiment_name.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Sentiment name is required.</p>
                  </div>
                </div>
                <div class="form-group" show-errors>
                  <label class="control-label" for="sentiment_description">Description</label>
                  <textarea name="sentiment_description" type="text" ng-model="vm.sentiment.description"
                    id="sentiment_description" class="form-control" placeholder="Description" required></textarea>
                  <div ng-messages="vm.form.sentimentForm.sentiment_description.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Sentiment description is required.</p>
                  </div>
                </div>
                <div class="form-group" show-errors>
                  <label class="control-label" for="sentiment_score">Sentiment Score</label>
                  <input type="number" name="sentiment_score" ng-model="vm.sentiment.score" id="sentiment_score"
                    class="form-control" placeholder="Sentiment Score" required>
                  <div ng-messages="vm.form.sentimentForm.sentiment_score.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Sentiment score is required.</p>
                  </div>
                </div>
                <div class="form-group" show-errors>
                  <label class="control-label" for="sentiment_color">Color</label>
                  <input type="color" name="sentiment_color" ng-model="vm.sentiment.color" id="sentiment_color"
                    class="form-control" placeholder="Color" required>
                  <div ng-messages="vm.form.sentimentForm.sentiment_color.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Sentiment color is required.</p>
                  </div>
                </div>
                


                <div class="form-group">
                  <button type="submit" class="btn btn-default">{{vm.sentiment._id ? 'Update' : 'Create'}}</button>
                </div>
                <div ng-show="vm.error" class="text-danger">
                  <strong ng-bind="vm.error"></strong>
                </div>
              </fieldset>
            </form>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>