<div class="row">
  <div class="col-md-12">
    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Key informants</h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-wrap">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Full Name</th>
              <th>Phone Number</th>
              <th>Email</th>
              <th>Unit</th>
              <th>Middle Person's Name</th>
              <th>Middle Person's Phone</th>
              <!--<th>Created</th>
              <th>User</th>-->
              <th style="width: 100px">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(index, keyinformant) in vm.pagedItems">
              <td ui-sref="keyinformants.view({ keyinformantId: keyinformant._id })"><span ng-bind="index + (vm.currentPage-1)*vm.itemsPerPage + 1"></span></td>
              <td><span ng-bind="keyinformant.keyinfor_name"></span></td>
              <td><span ng-bind="keyinformant.phone"></span></td>
              <td><span ng-bind="keyinformant.email"></span></td>
              <td><span ng-bind="keyinformant.unit"></span></td>
              <td><span ng-bind="keyinformant.middle_fullname"></span></td>
              <td><span ng-bind="keyinformant.middle_phone"></span></td>
              <!--<td><span ng-bind="keyinformant.created | date:'mediumDate'"></span></td>
              <td><span ng-if="keyinformant.user" ng-bind="keyinformant.user.displayName"></span></td>-->
              <td>
                <div class="btn-group btn-group-sm">
                  <a class="btn btn-primary"
                     ui-sref="keyinformants.view({ keyinformantId: keyinformant._id })">
                    <i class="fas fa-eye"></i>
                  </a>
                  <a class="btn btn-primary"
                     ui-sref="keyinformants.edit({ keyinformantId: keyinformant._id })">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="btn btn-danger" ng-click="vm.remove(keyinformant._id)">
                    <i class="fas fa-trash" style="color: white;"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="card-footer clearfix">
          <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
