<div class="container-fluid" ng-controller="BreadcrumbController as vm">
  <div class="row mb-2" style="background: white;">
    <div class="col-sm-6">
      <h1 id="breadcrumb-title" class="m-0 text-dark">{{vm.breadcrumbtitle}}</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
      <ol id="ol-breadcrumb" class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <!--<li class="breadcrumb-item active">Dashboard</li>-->
        <!--<li id="li-active" class="breadcrumb-item active"></li>-->
      </ol>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->
