<div class="row">
  <div class="col-md-12">
    <div class="card card-info">
      <div class="card-header">
        <h3 class="float-left">Labeling</h3>

        <div class="clearfix"></div>
      </div>
      <div class="card-body">
        <div class="button-label" style="padding-bottom: 15px;">
          <button class="btn btn-warning text-white">Auto Labeling</button>
          <button class="btn btn-success">Confirm Labeling</button>
          <button class="btn btn-primary float-right btn_view_cmt" id="btn_view_cmt"
            style="background-color: #17a2b8;" ng-click="vm.goToCommentsList(newsdailyId)">View Comments</button>
        </div>
        <div id="label-studio"></div>
      </div>
    </div>
  </div>
</div>
