<div class="row">
  <div class="col-md-12">
    <div class="card card-info">
      <div class="card-header">
        <h3>Articles</h3>
      </div>
      <div class="card-body">
        <section>
          <div class="list-group">
            <a ng-repeat="article in vm.articles" ui-sref="articles.view({ articleId: article._id })" class="list-group-item">
              <small class="list-group-item-text">
                Posted on
                <span ng-bind="article.created | date:'mediumDate'"></span>
                by
                <span ng-if="article.user" ng-bind="article.user.displayName"></span>
                <span ng-if="!article.user">Deleted User</span>
              </small>
              <h4 class="list-group-item-heading" ng-bind="article.title"></h4>
              <p class="list-group-item-text" ng-bind="article.content"></p>
            </a>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>
