<div class="row">
    <div class="col-md-12">
        <div class="card card-info">
            <div class="card-header">
                <h3 style="cursor: pointer;" ng-click="vm.goToNews(newsdailyId)" ng-bind="vm.newsTitle"></h3>
            </div>
            <div class="card-body">
                <p ng-bind="vm.newsSummary"></p>
            </div>
            <div class="card-header">
                <h3 class="card-title" style="justify-content: space-between; align-items: center; padding: 10px;">
                    Comments</h3>
                <div class="card-tools" style="display: flex; align-items: center;">
                    <button style="border-color: #fff; margin-right: 1%;"
                        class="btn float-right btn_labeling text-white" id="btn_labeling"
                        ng-click="vm.goToLabeling(newsdailyId)">Labeling</button>
                    <button style="border-color: #fff; margin-right: 1%;"
                        class="btn float-right btn_view_cmt text-white" id="btn_view_cmt"
                        ng-click="vm.openReportModal()">View
                        Report</button>
                    <div class="input-group input-group-sm">
                        <input type="text" name="table_search" class="form-control float-right" ng-model="vm.search"
                            placeholder="Search" ng-change="vm.figureOutItemsToDisplay()">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-wrap">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th class="text-center">Comment Content</th>
                            <th class="text-center">Researcher<br>Sentiment Score</th>
                            <th class="text-center">Researcher<br>Sentiment</th>
                            <th class="text-center">AI<br>Sentiment Score</th>
                            <th class="text-center">AI<br>Sentiment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(index, comment) in vm.pagedItems">
                            <td>
                                <span ng-bind="index + (vm.currentPage-1)*vm.itemsPerPage + 1"></span>
                            </td>
                            <td>
                                <span ng-bind="comment.content"></span>
                                <ul>
                                    <li ng-repeat="(key, value) in comment.reaction">
                                        <span ng-bind="key"></span>: <span ng-bind="value"></span>
                                    </li>
                                </ul>
                            </td>
                            <td style="text-align: center !important;"><span
                                    ng-style="{ 'background-color': vm.getSentimentBackgroundColor(comment.sentiment_researcher), 'color': '#fff', 'border-radius': '10%', 'padding': '10%', 'display': 'inline-flex', 'align-items': 'center', 'justify-content': 'center' }"
                                    sentiment-color="{{ vm.getSentimentName(comment.sentiment_researcher) }}"
                                    ng-bind="comment.researcher_score"></span>
                            </td>
                            <td style="text-align: center;">
                                <span
                                    ng-style="{ 'background-color': vm.getSentimentBackgroundColor(comment.sentiment_researcher), 'color': '#fff', 'border-radius': '10%', 'padding': '10%', 'display': 'inline-flex', 'align-items': 'center', 'justify-content': 'center' }"
                                    sentiment-color="{{ vm.getSentimentName(comment.sentiment_researcher) }}"
                                    ng-bind="vm.getSentimentName(comment.sentiment_researcher)"></span>
                            </td>
                            <td style="text-align: center !important;"><span
                                    ng-style="{ 'background-color': vm.getSentimentBackgroundColor(comment.sentiment_ai), 'color': '#fff', 'border-radius': '10%', 'padding': '10%', 'display': 'inline-flex', 'align-items': 'center', 'justify-content': 'center' }"
                                    sentiment-color="{{ vm.getSentimentName(comment.sentiment_ai) }}"
                                    ng-bind="comment.score_ai"></span>
                            </td>
                            <td><span
                                    ng-style="{ 'background-color': vm.getSentimentBackgroundColor(comment.sentiment_ai), 'color': '#fff', 'border-radius': '10%', 'padding': '10%', 'display': 'inline-flex', 'align-items': 'center', 'justify-content': 'center' }"
                                    sentiment-color="{{ vm.getSentimentName(comment.sentiment_ai) }}"
                                    ng-bind="vm.getSentimentName(comment.sentiment_ai)"></span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-footer clearfix">
                    <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage"
                        total-items="vm.filterLength" ng-model="vm.currentPage"
                        ng-change="vm.pageChanged()"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 65%; ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportModalLabel">Report sentiment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="chart-type-selector" style="margin-left: 2%;">
                    <label>
                        <input type="radio" name="chart-type" value="pie" ng-model="vm.chartType"
                            ng-change="vm.displayPieChart(vm.comments)" ng-init="vm.chartType = 'pie'"> Pie Chart
                    </label>
                    <label style="margin-left: 2%;">
                        <input type="radio" name="chart-type" value="line" ng-model="vm.chartType"
                            ng-change="vm.displayLineChart(vm.comments)" ng-checked="vm.chartType === 'line'"> Line Chart
                    </label>
                    <div class="date_container" style="display: flex; align-items: center; padding-top: 2%;">
                        <label for="datetimefilter" style="align-self: center; margin-right: 2%;">Date</label>
                        <div style="position: relative; width: 50%;">
                            <input id="datetimefilter" type="text" class="form-control" ng-model="vm.filterbydate"
                                ng-change="vm.figureOutItemsToDisplay()" maxlength="10"
                                style="width: 100%; padding-left: 30px; z-index: 1000;">
                            <i class="fa fa-calendar"
                                style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);"></i>
                        </div>
                        <button type="submit" style="margin-left: 1%;" class="btn btn-primary" id="btn_week_filter"
                            ng-click="vm.filterArgumentByDate()"><i class="fa fa-filter"></i></button>
                    </div>


                </div>
                <div style="margin-left: 2%;" id="error-container" class="error-text">
                    Please
                    enter the date.</div>
                <div class="card-body">
                    <canvas id="pieChart" style="width: 100%;" class="pieChart"></canvas>
                    <canvas id="lineChartt" style="width: 100%;" class="lineChartt"></canvas>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>