<div class="row">
  <div class="col-md-12">
    <div class="card card-info">
      <div class="card-header">
        <h2 class="card-title">Statistic by Sentiments</h2>
      </div>
      <div class="filter-new-groups" style="margin-bottom: 0px;">
        <ul>
          <li class="active default"><a href="">Total Sentiments: ({{vm.totals}} comments)</a></li>
          <li class="line-chart"><a href="">Linechart</a></li>
        </ul>
      </div>
      <div class="spinner-border text-warning hidden" role="status"
        style="margin-left: 45%; width: 100px; height: 100px;">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="card-body">
        <canvas id="pieChart" style="width: 100%;" class="pieChart"></canvas>
        <canvas id="lineChartt" style="width: 100%;" class="lineChartt"></canvas>

      </div>
    </div>
  </div>
</div>