<div class="row">
  <div class="col-md-12">
    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Taxonomies Treeview</h3>
        <div class="card-tools">
          <button id="btn_add" class="btn btn-default">Add</button>
          <button id="btn_edit" class="btn btn-default">Edit</button>
          <button id="btn_delete" class="btn btn-default">Delete</button>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        
        <section id="visualisation" style="border: 1px black solid; max-width: 100%;">
        </section>
      </div>
    </div>
  </div>
</div>
